
.award1{ 
    color:green;
    
}
.award2{ 
    text-align:center;
    
}

.award3{ 
    font-family: 'Shadows Into Light', cursive;
    
}
.award4{ 
    font-size:70px;
    
}

img {
    width: 800px ;
    
}
p, h1, h2, h3 {
    color:white;
}
body {
    background-color:black ;   
}